<fieldset class="govuk-fieldset
  {%- if params.classes %} {{ params.classes }}{% endif %}"
  {%- if params.role %} role="{{ params.role }}"{% endif %}
  {%- if params.describedBy != blank %} aria-describedby="{{ params.describedBy }}"{% endif %}
  {{- govukAttributes(params.attributes) }}>
  {%- if params.legend.html or params.legend.text %}
  <legend class="govuk-fieldset__legend {%- if params.legend.classes %} {{ params.legend.classes }}{% endif %}">
  {%- if params.legend.isPageHeading %}
    <h1 class="govuk-fieldset__heading">
      {{ params.legend.html | raw | strip | indent: 6 | default: params.legend.text }}
    </h1>
  {% else %}
    {{ params.legend.html | raw | strip | indent: 4 | default: params.legend.text }}
  {% endif %}
  </legend>
  {%- endif -%}
{% if params.html %}
  {{ params.html | raw }}
{%- endif %}
</fieldset>