@using GovUk.Frontend.AspNetCore
@using Microsoft.Extensions.Options
@inject IOptions<GovUk.Frontend.AspNetCore.GovUkFrontendAspNetCoreOptions> OptionsAccessor
@addTagHelper *, GovUk.Frontend.AspNetCore
@{
    if (ViewBag.AssetPath is null && OptionsAccessor.Value.StaticAssetsContentPath is null)
    {
        throw new InvalidOperationException(
            $"Asset path is not set. Ensure either {nameof(GovUkFrontendAspNetCoreOptions.StaticAssetsContentPath)} on {nameof(GovUkFrontendAspNetCoreOptions)} or ViewBag.AssetPath is set.");
    }

    var assetPath = ViewBag.AssetPath ?? Context.Request.PathBase + OptionsAccessor.Value.StaticAssetsContentPath!.Value;

    var cspNonce = ViewBag.CspNonce as string ?? OptionsAccessor.Value.GetCspNonceForRequest?.Invoke(ViewContext.HttpContext);

    var htmlLang = ViewBag.HtmlLang ?? "en";
    var themeColor = ViewBag.ThemeColor ?? "#0b0c0c";
    var ogImage = ViewBag.OpengraphImageUrl ?? $"{Context.Request.Scheme}://{Context.Request.Host}{assetPath}/images/govuk-opengraph-image.png";
}
<!DOCTYPE html>
<html lang="@htmlLang" class="govuk-template @ViewBag.HtmlClasses">

<head>
    <meta charset="utf-8">
    <title lang="@ViewBag.TitleLang">@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="@themeColor">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @if (IsSectionDefined("HeadIcons"))
    {
        @RenderSection("HeadIcons")
    }
    else
    {
        <link rel="icon" sizes="48x48" href="@(assetPath)/images/favicon.ico">
        <link rel="icon" sizes="any" href="@(assetPath)/images/favicon.svg" type="image/svg+xml">
        <link rel="mask-icon" href="@(assetPath)/images/govuk-icon-mask.svg" color="@themeColor">
        <link rel="apple-touch-icon" href="@(assetPath)/images/govuk-icon-180.png">
        <link rel="manifest" href="@(assetPath)/manifest.json">
    }

    @if (IsSectionDefined("Head"))
    {
        @RenderSection("Head")
    }
    else
    {
        @Html.GovUkFrontendStyleImports(appendVersion: true)
    }

    <meta property="og:image" content="@(ogImage)">
</head>

<body class="govuk-template__body @ViewBag.BodyClasses">
    @Html.GovUkFrontendJsEnabledScript(cspNonce)
    @RenderSection("BodyStart", required: false)

    @if (IsSectionDefined("SkipLink"))
    {
        @RenderSection("SkipLink")
    }
    else
    {
        <govuk-skip-link href="#main-content">Skip to main content</govuk-skip-link>
    }

    @RenderSection("Header", required: false)

    <div class="govuk-width-container @ViewBag.ContainerClasses">
        @RenderSection("BeforeContent", required: false)
        <main class="govuk-main-wrapper @ViewBag.MainClasses" id="main-content" role="main" lang="@ViewBag.MainLang">
            @if (ViewBag.PrependErrorSummaryToMain is true or null && !Context.GetContainerErrorContext().ErrorSummaryHasBeenRendered)
            {
                <govuk-error-summary/>
            }

            @RenderBody()
        </main>
    </div>

    @RenderSection("Footer", required: false)

    @if (IsSectionDefined("BodyEnd"))
    {
        @RenderSection("BodyEnd")
    }
    else
    {
        @Html.GovUkFrontendScriptImports(cspNonce, appendVersion: true)
    }
</body>

</html>
